* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centerColumnFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin boxForm ($paddPercentage, $borderRad, $boxShad) {
    padding: $paddPercentage;
    border-radius: $borderRad;
    box-shadow: $boxShad;
}

body {
    font-family: 'Noto Sans', sans-serif;
    @include centerColumnFlex();
    min-height: 100vh;
    padding-top: 10vh;
}

.mainHeadline {
    font-size: 3rem;
    color: darkorange;
    margin-bottom: 3%;
    letter-spacing: 4px;
}

.title {
    @include centerColumnFlex();
    background-color: rgb(7, 166, 206);
    color: #FFF;
    font-size: 1.6rem;
    @include boxForm(2%, 15px, 3px 3px 4px rgb(102, 101, 101));
    margin-bottom: 10vh;
    transform: scale(0);
    transition: 1s;
    &.titleScale {
        transform: scale(1);
    }
}

.listBox {
    background-image: url("/images/woodenBackground.png");
    flex-basis: 50vh;
    min-width: 60vw;
    @include centerColumnFlex();
    @include boxForm(3%, 15px, 4px 4px 5px);
    justify-content: space-between;
    margin-bottom: 10vh;
    transform: scale(0);
    transition: 1s .5s;
    &.listBoxScale {
        transform: scale(1);
    }
    .listBoxItem {
        background-color: #FFF;
        @include centerColumnFlex();
        @include boxForm(3%, 15px, 3px 3px 3px);
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin: 30px auto;
        input {
            font-size: 25px;
            margin: 10px 0;
        }
        .btnAccept {
            background-color: rgb(163, 106, 104);
            border: none;
            padding: 2%;
            font-size: 20px;
            border-radius: 15px;
            color: #CCC;
            letter-spacing: 2px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: #FFF;
                border-radius: 5px;
            }
        }
        .taskTitle {
            text-transform: uppercase;
        }
        .deleteTask {
            position: absolute;
            right: 2%;
            top: 2%;
            cursor: pointer;
            font-size: 25px;
            &:hover {
                color: #CCC;
            }
        }
    }
    
    .newTask {
        width: 100%;
        min-height: 10vh;
        background-color: #FFF;
        border: 3px #000 dashed;
        @include boxForm(3%, 10px, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        order: 1;
        .addNew {
            width: 50px;
            height: 50px;
            background-color: #666;
            @include boxForm(0, 50%, 0);
            position: relative;
            top: 0;
            left: 0;
            cursor: pointer;
            &:hover {
                background-color: #1A1;
                box-shadow: 3px 3px 3px black;
            }
            &:active {
                transform: translateY(3px) scale(.9);
                box-shadow: none;
            }
            .plusLine {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
                height: 8px;
                background-color: #FFF;
                border-radius: 10px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                    width: 100%;
                    height: 8px;
                    background-color: #FFF;
                    border-radius: 10px;
                }
            }
        }
    }
}